@import url(./__author/comments__author.css);
@import url(./__table/comments__table.css);
@import url(./__item/comments__item.css);
@import url(./__paragraph/comments__paragraph.css);
@import url(./__photo/comments__photo.css);
@import url(./__subtitle/comments__subtitle.css);
@import url(./__title/comments__title.css);

.comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 102px;
    width: 100%;
    max-width: 1184px;
}