.baikal-dogs__subtitle {
    width: 100%;
    max-width: 382px;
    top: 477px;
    left: 401px;
    position: absolute;

    font-size: 18px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}